<section data-behavior="dread-buttons">
  <p class="lead text-center">Likelihood = (Repro + Exploit + Disc)/3</p>

  <h3>Reproducibility</h3>
  <p>What kind of access is necessary to exploit this vulnerability?</p>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td><input type="radio" name="repro" value="0" <%= 'checked' if @dread_vector['R'] == 0 %>/> 0</td>
        <td>Physical access to target machine</td>
      </tr>
      <tr>
        <td><input type="radio" name="repro" value="1" <%= 'checked' if @dread_vector['R'] == 1 %>/> 1</td>
        <td>Valid credentials to the system</td>
      </tr>
      <tr>
        <td><input type="radio" name="repro" value="2" <%= 'checked' if @dread_vector['R'] == 2 %>/> 2</td>
        <td>Same network as the victim</td>
      </tr>
      <tr>
        <td><input type="radio" name="repro" value="3" <%= 'checked' if @dread_vector['R'] == 3 %>/> 3</td>
        <td>Internet access with no credentials</td>
      </tr>
    </tbody>
  </table>

  <h3>Exploitability</h3>
  <p>What is needed to exploit this vulnerability?</p>

  <table class="table table-striped">
    <tbody>

      <tr>
        <td><input type="radio" name="exploit" value="0" <%= 'checked' if @dread_vector['E'] == 0 %>/> 0</td>
        <td>
          <ul class="m-0 p-0">
            <li>Advanced programming and networking knowledge</li>
            <li>Custom or advanced attack tools</li>
            <li>Depends on other vulnerabilities being present which have not been discovered</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><input type="radio" name="exploit" value="1" <%= 'checked' if @dread_vector['E'] == 1 %>/> 1</td>
        <td>Requires victim’s intervention, possibly through social engineering</td>
      </tr>
      <tr>
        <td><input type="radio" name="exploit" value="2" <%= 'checked' if @dread_vector['E'] == 2 %>/> 2</td>
        <td>
          <ul class="m-0 p-0">
            <li>Tool or malware is available on the Internet</li>
            <li>Exploit is easily performed</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><input type="radio" name="exploit" value="3" <%= 'checked' if @dread_vector['E'] == 3 %>/> 3</td>
        <td>Just a web browser or no tools necessary</td>
      </tr>
    </tbody>
  </table>

  <h3>Discoverability</h3>
  <p>How easy is it to discover and exploit this vulnerability?</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Difficulty</th>
        <th>Equivalent threat agent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="radio" name="disc" value="0" data-agent="Organized crime, inside job" <%= 'checked' if @dread_vector['DI'] == 0 %>/> 0</td>
        <td>Very hard to impossible; requires source code, administrative access or classified information</td>
        <td>Organized crime, inside job</td>
      </tr>
      <tr>
        <td><input type="radio" name="disc" value="1" data-agent="Motivated attacker" <%= 'checked' if @dread_vector['DI'] == 1 %>/> 1</td>
        <td>Hard; requires partial knowledge of internal structure, or involves guessing</td>
        <td>Motivated attacker</td>
      </tr>
      <tr>
        <td><input type="radio" name="disc" value="2" data-agent="Script kiddie, curious attacker" <%= 'checked' if @dread_vector['DI'] == 2 %>/> 2</td>
        <td>Medium; details of faults like this are already in public domain and can be easily discovered using a search engine</td>
        <td>Script kiddie, curious attacker</td>
      </tr>
      <tr>
        <td><input type="radio" name="disc" value="3" data-agent="Automated malware, accidental discovery" <%= 'checked' if @dread_vector['DI'] == 3 %>/> 3</td>
        <td>Low; information is visible in a browser address bar, form, or readily visible or accessible in case of physical vulnerabilities</td>
        <td>Automated malware, accidental discovery</td>
      </tr>
    </tbody>
  </table>
</section>
