<!DOCTYPE html>
<html>
  <head>
    <title>DREAD Score Calculator | Dradis Framework</title>
    <%= stylesheet_link_tag    'dradis/plugins/calculators/dread/manifests/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="authenticated">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a href="javascript:void(0)" class="brand">DREAD score calculator</a>
          <ul class="nav pull-right">
            <li>
              <%= link_to main_app.root_path do %>
              Back to the app  &rarr;
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <%= yield%>
    </div>

<div class="well">
  <%= debug main_app.methods(false).sort %>
</div>
    <%= javascript_include_tag 'dradis/plugins/calculators/dread/manifests/application', 'data-turbolinks-track' => true %>
  </body>
</html>