<!DOCTYPE html>
<html>
  <head>
    <title>DREAD Score Calculator | Dradis Framework</title>
    <%= stylesheet_link_tag    'dradis/plugins/calculators/dread/manifests/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dradis/plugins/calculators/dread/manifests/application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="authenticated">
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <a href="javascript:void(0)" class="navbar-brand">DREAD score calculator</a>
        <ul class="navbar-nav pull-right">
          <li class="nav-item">
            <%= link_to main_app.root_path do %>
            Back to the app  &rarr;
            <% end %>
          </li>
        </ul>
      </nav>

      <%= yield%>
    </div>
  </body>
</html>